// Book List && Favorite list
.book-list,
.favorite-list {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 
  lg:grid-cols-3 xl:grid-cols-4 gap-6 mt-10;
}

// Fetching error
.error {
  @apply text-red-500 text-center;
}

// Fetching success
.success {
  @apply text-green-500 text-center;
}

// User Info
.custom-modal .ant-modal-body {
  padding: 20px 40px;
}

.custom-modal .ant-modal-header {
  border-bottom: none;
  text-align: center;
}

.custom-modal .ant-modal-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
