.error {
  color: red;
  margin-bottom: 4px;
}

.full-size-icon-button {
  padding: 0;
  width: auto;
  height: auto;
  min-width: 24px !important;

  margin-right: auto;
}

.full-size-icon {
  font-size: 28px;
}
